<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
<h1>Edit Blog</h1>
<p>
    <a href="/blogs">Blogs list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form method="post" th:action="@{/edit/__${blog.id}__}" th:object="${blog}">
    <input name="id" th:field="*{id}" th:type="hidden">
    <table>
        <tr>
            <td>Title:</td>
            <td><input th:field="*{title}" type="text"/></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><input th:field="*{content}" type="text"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Blog"></td>
        </tr>
    </table>
</form>
</body>
</html>