<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<p>
    <a href="/blogs">Blog list</a>
</p>
<p th:text="${message}"></p>
</body>
</html>